body {
    // Color scheme
    color: $secondary-color;
    background-color: $primary-color;

    // Font
    font-family: $primary-font;
    font-size: $primary-font-size;
    font-weight: lighter;

    // Scrollbar
    -ms-overflow-style: none;
	scrollbar-width: none;
}

h1 {font-size: 3em; font-weight: bold;}

h2 {font-size: 2em; font-weight: bold;}

h3 {font-size: 1.5em; font-weight: bold;}

h4 {font-size: 1.3em; font-weight: bold;}