@import "../../styles/abstract/var";

.icon {
    display: block;
    border-radius: $border-radius;
    padding: 5px;
    margin: 2px;
    text-align: center;
    font-size: 1.5rem;
    transition: 1s;
    
    &:hover {
        text-shadow: 0 0 10px #00000080;
        text-decoration: none;
    }
}