@import "../../styles/abstract/var";

.avatar-back {
    width: 20vw;
    height: 20vw;
    border: solid 1px $secondary-color;
    border-radius: 50%;
    display: flex;
    padding: auto;

    .avatar {
        position: relative;
        width: 19vw;
        height: 19vw;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        transition: 1s;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 600px) {
    .avatar-back {
        width: 58vw;
        height: 58vw;

        .avatar {
            width: 55vw;
            height: 55vw;
        }
    }
}