@import "../../styles/abstract/var";

.link {
    display: block;
    border: solid 2px $secondary-color;
    border-radius: $border-radius;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: normal;
    transition: 1s;
    
    &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        text-decoration: none;
    }
}